#Insert your own secret key here and set the debug mode in this file. 
#After inserting your values, do not commit this file to version control.

SECRET_KEY = 'Insert your own secret key here'

# for production purpose, the debug mode should be set to False:
DEBUG = False
