#Insert your own secret key here and set the debug mode in this file. 

#After inserting your values, do not commit this file to version control.
SECRET_KEY = 'This_is_a_placeholder_secret_key.Please_replace_it_with_your_own_secret_key_for_production_use.'

# for production purpose, the DEBUG-mode should be set to False:
DEBUG = False
